* {
    box-sizing: border-box;
}

:root {
    --primary: #ed6809;
    --text: #111;
}

body {
    margin: 0;
    font-family: "Segoe UI";
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.logoContainer {
    font-size: 2.em;
    color: var(--primary);
    font-weight: bold;
    padding: 25px 0;
}

nav {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

nav ul a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul a {
    display: block;
    padding: 12px 20px;
}

nav ul li.aktif a {
    background-color: var(--primary);
    color: white;
}


/*===================MAIN=====================*/

main.container {
    display: flex;
    padding-top: 25px;
}

main.inhalt {
    width: 70%;
}

main aside {
    width: 30%;
}

.producke {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 32%;
    border: 1px solid#eee;
    margin-bottom: 20px;
}

.card>span {
    display: block;
    font: 1.2em;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.card .bild {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .bild img {
    max-width: 100%;
    max-height: 100%;
}